.Structure {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  &-Body {
    background: linear-gradient(
      to bottom,
      $c-white,
      $c-white 0%,
      $c-light-secondary 200%,
      $c-background
    );
    display: flex;
    min-height: calc(100vh - 104px);
    padding: 0;

    &Canvas {
      flex: 1 1 50%;
      padding: $size-large;
    }

    &Quiz {
      background: $c-bg-structure-quiz;
      box-shadow: 1px 0 5px lightgrey;
      flex: 1 0 50%;
      padding: $size-large;
    }
  }

  &-buttons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
}
