.Structure {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  &-Body {
    background: linear-gradient(to right, $c-white, $c-white 50%, $c-background 50%, $c-background);
    display: flex;
    padding: $size-base;

    &Canvas,
    &Quiz {
      flex-basis: 50%;
      flex-grow: 1;
      flex-shrink: 0;

      padding: $size-base $size-base 0;
    }
  }

  &-buttons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
}
