.TableEvaluations {
  width: 90% !important;
  margin: 0 auto;
  &-headerId, &-rowId {
  }

  &-rowNormalized, &-rowOriginal {
    padding-top: 24px;
  }
}

.ReactTable {
  & .-pagination .-btn {
    height: 50px;
  }

  & .rt-thead {
    overflow-y: scroll;
  }
}

