// Colors ---------------------------------------------------------------------
$c-black: #000000;
$c-white: #ffffff;
$c-background: #efefef;
$c-border: #cccccc;
$c-primary: #00bcd4;
$c-light-primary: #e2fcff;
$c-light-selected: #9be9f3;
$c-secondary: #3082ef;
$c-accent: red;

// Sizes ----------------------------------------------------------------------
$size-base: 24px;
$size-mini: $size-base / 2;
$size-xxs: $size-base / 4;
$size-large: $size-base * 2;

// Font-sizes -----------------------------------------------------------------
$fz-base: 1em;
$fz-large: $fz-base * 1.2;
$fz-xxlarge: $fz-base * 2;
