.App {
  display: flex;
  flex-direction: column;
  height: 100%;

  &-content {
    flex: 1 0 auto;
  }

  &-toolbar {
    position: sticky !important;
  }

  &-footer {
    flex-shrink: 0;
  }
}

.Logo {
  color: #fff;
  text-decoration: none;
}
