.Home {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  &-body {
    display: flex;
    padding: $size-base;

    &Canvas,
    &Quiz {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 50%;

      padding: $size-base;
    }
  }

  &-buttons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
}
