.Home {
  align-items: center;
  background: url('/login-bg.jpg') no-repeat left center;
  background-size: cover;
  display: flex;
  height: calc(100vh - 104px);
  justify-content: center;

  &-Buttons {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &-Button {
    background-color: $c-background;
    border: 1px solid $c-border;
    border-radius: $size-xxs;
    cursor: pointer;
    padding: 24px 48px;

    &:hover {
      background-color: $c-light-primary;
    }
  }

  &-Link {
    color: $c-black;
    font-size: 24px;
    margin: 32px;
    text-decoration: none;
  }
}
