.Quiz {
  &-row {
    display: flex;
    border-bottom: 1px solid $c-border;
    padding: $size-base;
  }

  &-cell {
    flex-basis: 50%;
    flex-grow: 1;
  }
}

.Slider {
  width: 100%;
  display: flex;

  &-label {
    margin-right: $size-mini;
  }
}
