.Signin {
  align-items: center;
  background: url('/register-bg.jpg') no-repeat right bottom;
  background-size: cover;
  display: flex;
  min-height: calc(100vh - 100px);
  justify-content: center;

  &-form {
    background: white;
    box-shadow: 5px 5px 10px lightgrey;
    display: flex;
    flex-direction: column;
    margin-left: -50%;
    padding: 32px;
  }

  &-label {
    margin-bottom: 25px;
  }

  &-input {
    margin-bottom: 15px;
  }

  &-signup {
    text-decoration: none;
    margin-top: 24px;
  }
}
