@import './Canvas/index';
@import './Quiz/index';

.LayoutEvaluation {
  display: flex;
  flex-direction: column;

  &-Body {
    background: linear-gradient(to bottom, $c-white, $c-white 0%, $c-light-secondary 200%, $c-background);
    display: flex;
    min-height: calc(100vh - 104px);
    padding: 0;
  }
}


