.Reason {
  padding: $size-base;

  &:not(.is-last) {
    border-bottom: 1px solid $c-border;
  }

  &-row {
    display: flex;
    justify-content: space-between;
  }

  &-title {
    font-size: $fz-base;
    margin-bottom: $fz-base / 2;
  }

  &-radiobuttons {
    flex-basis: 50%;

    &-group {
      display: flex;
    }
  }

  &-selects {
    flex-basis: 50%;
  }

  &-button {
    margin-top: $size-base * -1;
    cursor: pointer;
    display: block;
  }

  @media screen and (max-width: 500px) {
    &-title {
      margin-top: 5px;
    }

    &-row {
      flex-direction: column;
    }

    &-cell {
      width: 100%;
      justify-content: end;
    }
  }
}
