.LayoutEvaluation {
  &-BodyQuiz {
    background: $c-bg-structure-quiz;
    box-shadow: 1px 0 5px lightgrey;
    flex: 1 0 50%;
    padding: $size-large;
  }

  &-buttons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
}
