.LayoutEvaluation {
  &-BodyQuiz {
    box-shadow: 1px 0px 5px lightgrey;
    background: $c-light-primary;
    flex: 1 0 50%;
    padding: $size-base $size-base 0;
  }

  &-buttons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
}

