.LayoutEvaluation {
  &-BodyQuiz {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;

    padding: $size-base $size-base 0;
  }

  &-buttons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
}

