.Signup {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &-form {
    display: flex;
    flex-direction: column;
  }

  &-label {
    margin-bottom: 25px;
  }

  &-input {
    margin-bottom: 15px;
  }
}

