.CanvasTexto {

  &-canvas {
    line-height: 1.2rem;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
  }

  &-student {
    margin-bottom: 15px;
  }

  &-student {
    margin-right: 5px;
  }
}
