.Uploader {
  &-spinner {
    align-items: center;
    background: #00000085;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 10;

    &.is-hidden {
      display: none;
    }
  }
  &-addbutton {
    position: absolute;
    bottom: 25px;
    right: 25px;
  }
  &-buttons {
    display: flex;
    justify-content: center;
  }
  &-label {
    justify-content: space-evenly;
    padding: 15px;
    width: fit-content;
  }

  &-paper {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 300px;
  }

  &-claim {
    color: rgba(0, 0, 0, 0.298039);
    margin-left: 5px;
  }

  &-input {
    display: none;
  }
}
