.NumberSelector {
  margin-top: $size-base;

  &--hidden {
    display: none;
  }

  &-Title {
    margin-bottom: $size-mini;
  }

  &-List {
    display: flex;
    justify-content: center; 
  }

  &-Item {
    background: $c-white;
    border-radius: $size-xxs;
    display: block;
    flex-basis: 15%;
    font-size: $fz-xxlarge;
    margin: 4px;
    padding: 12px;
    text-align: center;

    &:hover {
      background: $c-primary;
      cursor: pointer;
    }

    &--selected {
      background: $c-light-selected;
    }
  }
}
